$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.dynamic-fields-wrapper {
  padding: 2rem;

  .dynamic-form {
    .form-group {
      margin: 1.25rem 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 0.5rem;

      .settings-form-label {
        width: 27%;
        word-wrap: break-word;

        p {
          font-size: 0.875rem;
        }
      }

      .settings-input-content {
        width: 70%;
        position: relative;

        .select-input-section {
          position: relative;
          z-index: 2;
        }

        .toggle-checkbox-content {
          position: relative;
          margin-bottom: 0.625rem;

          .admin-pro-tag {
            left: 4.25rem;
            width: fit-content;
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 2.3rem;
            width: 0.25rem;
            height: 0.25rem;
            border: 0.0625rem solid #65438f;
            border-radius: 8rem;
            transition: 0.3s;
            z-index: 0;
            transform: translateY(-50%);
          }

          input {
            height: 0;
            width: 0;
            visibility: hidden;
            display: none;
          }

          label {
            cursor: pointer;
            width: 3.3rem;
            height: 1.5rem;
            background: 0 0;
            display: block;
            border-radius: 8rem;
            position: relative;
            border: 0.125rem solid #d4d1d9;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0.5rem;
              width: 0.17rem;
              height: 0.57rem;
              background: #fdfdfe;
              -webkit-transition: 0.3s;
              transition: 0.3s;
            }

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0.313rem;
              width: 0.875rem;
              height: 0.875rem;
              background: $color-active;
              border-radius: 90rem;
              transition: 0.3s;
              z-index: 1;
            }
          }

          input:checked+label {
            background: $color-active;
            border: 0.125rem solid $color-active;
          }

          input:checked+label::after {
            left: calc(100% - 1.313rem);
            transform: translateY(-50%);
            background: $body-background;
          }
        }

        .setting-form-input {
          position: relative;

          .parameter {
            position: absolute;
            top: .35rem;
            right: 0.315rem;
            border-left: 0.063rem solid rgba(0, 0, 0, 0.45);
            padding: 0 0.75rem;
          }
        }

        .settings-metabox-description {
          margin-top: 0.625rem;
          font-style: italic;
          color: rgba(114, 114, 117, 0.6);
          font-size: 0.813rem;
          line-height: 1.5714285714;

          p {
            margin-bottom: 0.5rem;
          }
        }

        .checkbox-description {
          width: 100%;
          font-style: italic;
          color: rgba(114, 114, 117, 0.6);
          font-size: 0.813rem;
          line-height: 1.5714285714;
        }

        input,
        textarea {
          width: 100%;
          border: 0.115rem solid rgba(0, 0, 0, 0.125);
          border-radius: 0;
          padding: 0.25rem 0.5rem;
          background: transparent;
          font-size: 0.875rem;
          line-height: 1.5714285714;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .setting-section-divider {
      margin: 2rem 0;
      padding: 0;
      // height: 0;
      border-top: 0.05rem solid rgba(82, 44, 129, 0.09);
      position: relative;

      .section-hint {
        text-align: center;
      }

      span {
        position: absolute;
        top: -0.063rem;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 1rem;
        background: #fff;
      }
    }

    .conditional-section {
      padding-top: 2.5rem;
      margin-top: 2.5rem;
      border-top: 0.05rem solid rgba(82, 44, 129, 0.09);
    }
  }
}

@media screen and (max-width: 61.488rem) {
  .dynamic-fields-wrapper {
    .dynamic-form {
      .form-group {
        flex-direction: column;
        gap: 1rem;

        .settings-form-label,
        .settings-input-content {
          width: 100%;
        }
      }
    }
  }
}

input[type="radio"] {
  width: fit-content !important; // To overwrite default table css only for radio input
  border-radius: 50% !important; // To overwrite default table css only for radio input
}

.select-deselect-trigger {
  border: 0.063rem solid #d4d1d9 !important; // To overwrite default common.scss scss
  color: #181718;
  border-radius: 0.25rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border: 0.063rem solid #000000 !important; // To overwrite default common.scss scss;
  }
}

.default-checkbox {

  input[type=checkbox] {
    width: 1.1rem !important;
    height: 1rem !important;
    margin: 0 !important;
  }
}

.checkbox-list-side-by-side {
  .wrapper {
    width: 100%;

    .toggle-checkbox-header {
      min-width: 32%;
      width: fit-content;
      display: inline-flex;
      margin-right: 0.945rem;
      position: relative;
      flex-wrap: wrap;
    }
  }
}

.toggle-checkbox-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-bottom: 0.75rem;

  .settings-metabox-description {
    margin-top: 0 !important;
    color: black !important;
    font-style: normal !important;
    font-size: 0.875rem !important;
  }
}