.instraction-tri {
    border: 2px solid #ccc;
    width: max-content;
    padding: 10px;
}
.button-tri {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
}
.button-tri a{
    text-decoration: none;
}
.payment-tri {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
    padding: 10px 5px;
    border-radius: 5px;
    width: max-content;
}