.instraction-tri {
    border: 0.126rem solid #ccc;
    width: max-content;
    padding: 0.63rem;
}
.button-tri a{
    text-decoration: none;
}
.payment-tri {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333333;
    padding: 0.63rem 0.315rem;
    border-radius: 0.315rem;
    width: max-content;
}

#moowoodle_table {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);
    z-index: 1;
    margin-bottom: 1rem;
  }
  
  #moowoodle_table * {
    font-size: 0.875rem;
  }
  
  #moowoodle_table thead {
    border-radius: 0.25rem;
    background-color: #fff;
    font-size: 0.9rem;
  }
  
  #moowoodle_table thead tr {
    padding: 0.313rem;
    font-weight: 400;
  }
  
  #moowoodle_table thead tr th {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    text-align: left;
    font-weight: 500;
  }
  
  #moowoodle_table tbody tr {
    background: #fff;
    position: relative;
    padding: 0 0.313rem;
  }
  #moowoodle_table tbody tr:nth-child(odd) {
    background: #f9f9f9;
  }
  
  #moowoodle_table td {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    border: none;
    outline: none;
  }
  
  #moowoodle_table .table-row-custom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  
  @media screen and (max-width: 36.225rem) {
      #moowoodle_table td,
      #moowoodle_table th {
      padding: 0.5rem !important;
    }
  
    #moowoodle_table td:first-child .table-row-custom p {
      display: none;
    }
  }
  
  #moowoodle_table img {
    width: 3.15rem;
    height: 3.15rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0);
  }
  
  #moowoodle_table td .button-tri {
    border-radius: 0.25rem;
    background-color: #65438f;
    padding: 0.5rem 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .no-data-row {
    text-align: center;
    padding: 0.5rem;
  }
  
  .my-account-pagination {
    max-width: 22.05rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  
  .my-account-pagination button {
    border-radius: 0.25rem;
    background-color: #65438f;
    padding: 0.5rem 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  #moowoodle_table td .button-tri a,  #moowoodle_table td .button-tri:hover,  #moowoodle_table td .button-tri:focus{
    color: #fff;
    outline: none;
    border: none;
  }
  
