$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.log-section {
  flex-wrap: wrap;

  .settings-input-content {
    width: 100% !important;

    .section-log-container{
      position: relative;
      width: 100%;

      .button-section {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin: 0.5rem 0;
  
        .download-btn {
          display: inline-block;
          position: relative;
          padding: 0.63rem 1.575rem;
          background-color: $menu-btn-color;
          color: white;
          font-family: sans-serif;
          text-decoration: none;
          font-size: 0.875rem;
          text-align: center;
          text-indent: 0.945rem;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
  
          &:hover {
            background-color: $color-active;
            color: white;
  
            &:before {
              border-color: #cdefbd;
            }
  
            &:after {
              border-top-color: #cdefbd;
              animation-play-state: running;
            }
          }
  
          &:before,
          &:after {
            content: " ";
            display: block;
            position: absolute;
            left: 0.945rem;
            top: 52%;
          }
  
          &:before {
            width: 0.63rem;
            height: 0.126rem;
            border-style: solid;
            border-width: 0 0.126rem 0.126rem;
          }
  
          &:after {
            width: 0;
            height: 0;
            margin-left: 0.189rem;
            margin-top: -0.441rem;
            border-style: solid;
            border-width: 0.252rem 0.252rem 0 0.252rem;
            border-color: transparent;
            border-top-color: inherit;
            animation: downloadArrow 1s linear infinite;
            animation-play-state: paused;
          }
          @keyframes downloadArrow {
            0% {
              margin-top: -0.441rem;
              opacity: 1;
            }
  
            0.001% {
              margin-top: -0.945rem;
              opacity: 0.4;
            }
  
            50% {
              opacity: 1;
            }
  
            100% {
              margin-top: 0;
              opacity: 0.4;
            }
          }
        }
  
        .button-clear {
          padding: 0.504rem 1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          background: #e35047;
          justify-content: space-between;
          border-radius: 0.25rem;
          color: white;
          gap: 0.75rem;
          transition: all 0.3s linear;
  
          &:hover {
            background-color: #e34f47d6;
          }
  
          .icon {
            display: flex;
            align-items: center;
            margin-top: 0.126rem;
  
            svg {
              width: 0.693rem;
              height: 0.693rem;
              fill: $color-white;
            }
          }
        }
      }
  
      .log-container-wrapper {
        max-height: 22.05rem;
        min-height: 6.3rem;
        height: 100%;
        width: 100%;
        border-radius: 0.25rem;
        padding: 0.5rem;
        padding-bottom: 1rem;
        position: relative;
        font-size: 0.882rem;
        line-height: 1.173rem;
        word-break: normal;
        background-color: rgb(21, 23, 24);

        .wrapper-header{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: 0.5rem 0;

          .log-viewer-text{
            color: #fff;
            font-size: 0.875rem;
            font-weight: 500;
          }
        }

        
        .wrapper-body{
          padding: 0 0 0.75rem 0;
          height: 18.9rem;
          overflow: scroll;

          &::-webkit-scrollbar-track {
            background: #ffffff0a;
            border-radius: 0.25rem;
          }
          
          &::-webkit-scrollbar {
            width: 0.441rem;
            height: 0.441rem;
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: rgba($color: #666666cd, $alpha: 1.0);
            border-radius: 0.25rem;
          }

          &::-webkit-scrollbar-corner{
            display: none;
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }

          .log-row{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.25rem;
            flex-direction: column;
            overflow: hidden;
            margin-bottom: 0.63rem;
            width: fit-content;
  
            .log-creation-date{
              font-weight: 500;
            }
      
            span {
              color: rgb(220, 220, 220);
              text-wrap: pretty;
              letter-spacing: 0.05rem;
              line-height: 1.7;
              word-wrap: break-word;
            }
          }
        }

      }
  
      .Btn {
        width: 2.205rem;
        height: 2.205rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.164);
        padding: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        position: relative;

        &:hover{
            .tool-clip{
              display: block;
            }
        }

        .tool-clip{
          display: none;
          position: absolute;
          top: -3.15rem;
          color: black;
          width: 7.056rem;
          left: -50%;
          transform: translateX(-50%);
          background: #fff;
          padding: 0.75rem;
          border-radius: 0.25rem;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);

          &::after{
            content: "";
            position: absolute;
            left: 70%;
            width: 0.945rem;
            background: white;
            height: 0.945rem;
            top: 80%;
            transform: rotate(45deg);
          }
        }
  
        &:hover {
          .svgIcon {
            background-color: $menu-btn-color;
          }
        }
  
        .svgIcon {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: $menu-btn-color;
        }
      }
    }

  }
}