$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.log-section {
  flex-wrap: wrap;

  .settings-input-content {
    width: 100% !important;

    .button-section {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin: 0.5rem 0;

      .download-btn {
        display: inline-block;
        position: relative;
        padding: 10px 25px;
        background-color: $menu-btn-color;
        color: white;
        font-family: sans-serif;
        text-decoration: none;
        font-size: 0.9em;
        text-align: center;
        text-indent: 15px;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
          background-color: $color-active;
          color: white;

          &:before {
            border-color: #cdefbd;
          }

          &:after {
            border-top-color: #cdefbd;
            animation-play-state: running;
          }
        }

        &:before,
        &:after {
          content: " ";
          display: block;
          position: absolute;
          left: 15px;
          top: 52%;
        }

        &:before {
          width: 10px;
          height: 2px;
          border-style: solid;
          border-width: 0 2px 2px;
        }

        &:after {
          width: 0;
          height: 0;
          margin-left: 3px;
          margin-top: -7px;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: transparent;
          border-top-color: inherit;
          animation: downloadArrow 1s linear infinite;
          animation-play-state: paused;
        }
        @keyframes downloadArrow {
          0% {
            margin-top: -7px;
            opacity: 1;
          }

          0.001% {
            margin-top: -15px;
            opacity: 0.4;
          }

          50% {
            opacity: 1;
          }

          100% {
            margin-top: 0;
            opacity: 0.4;
          }
        }
      }

      .button-clear {
        padding: 8px 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #e35047;
        justify-content: space-between;
        border-radius: 0.25rem;
        color: white;
        gap: 0.75rem;
        transition: all 0.3s linear;

        &:hover {
          background-color: #e34f47d6;
        }

        .icon {
          display: flex;
          align-items: center;
          margin-top: 2px;

          svg {
            width: 11px;
            height: 11px;
            fill: $color-white;
          }
        }
      }
    }

    .log-container-wrapper {
      min-height: 450px;
      height: fit-content;
      width: 100%;
      border: 0.115rem solid rgba(0, 0, 0, 0.125);
      border-radius: 0;
      padding: 0.25rem 0.5rem;
      background: transparent;
      font-size: 0.875rem;
      line-height: 1.5714285714;
      position: relative;

      p {
        width: 100%;
      }

      .Btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: none;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
        cursor: pointer;

        &:hover {
          .text {
            background-color: $color-active;
          }

          .svgIcon {
            background-color: $menu-btn-color;
          }
        }

        .text {
          width: 65%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: $color-active;
        }

        .svgIcon {
          width: 35%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: $menu-btn-color;
        }
      }
    }
  }
}
