.custom-sync-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
  flex-wrap: wrap;

  .sync-direction-items {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0rem 0.05rem rgba(0, 0, 0, 0.3);

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      outline: none;
      border: none !important; // To overwrite default css
      box-shadow: none;

      &::before{
        top: 0.63rem;
        position: absolute;
        right: 0.315rem;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        background: transparent;
      }
    }

    .sync-meta-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      margin: auto;

        img {
          width: 1.89rem;
        }

        i {
          font-size: 1rem;
        }

      .sync-label {
      }
    }
  }
}

.sync-direction-items:has(input:checked){
  box-shadow: 0 0 0.0rem 0.126rem #65438f;
  background: linear-gradient(45deg, #0000001c, transparent);
}