@import '/src/components/config.scss';

.merge-components{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    
    &>*{
        flex: 1 0 6.25rem;
    }
    select, input{
        min-width: 100%;
        border: $border-light-medium;
        border-radius: $border-radius-small;

        &:hover, &:active, &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}