$base-color: #f2eff5;
$border-color: #d4d1d9;
$fill-color: #fdfdfe;
$theme-color: #181718;
$header-background: #f7f6f9;
$icon-color: #9f8ab9;

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

#moowoodle_root {
  .general-wrapper {
    .container {
      gap: 1.2rem;
      background-color: $base-color;
      padding: 2rem 1.5rem;
      min-height: 54rem;
      @include flex(column, start);

      .middle-container-wrapper {
        width: 100%;
        min-width: 60%;

        .tab-description-start {
          padding: 2rem 2rem;
          margin-bottom: 0.35rem;
          background-color: $fill-color;
          border: 0.063rem solid $border-color;

          .tab-name {
            color: $theme-color;
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 1rem;
          }
        }

        .middle-child-container {
          @include flex(row, start, start);
          gap: 1rem;

          .current-tab-lists {
            height: auto;
            max-width: 15.75rem;
            width: 100%;
            position: sticky;
            top: 3rem;

            .current-tab-lists-container {
              .active-current-tab {
                position: relative;
                background-color: rgb(225 225 225);

                &:hover {
                  background-color: rgb(225 225 225);
                }
              }

              a {
                display: flex;
                align-items: center;
                transition: 0.3s;
                padding: 0.5rem 1.2rem 0.5rem 0.5rem;
                margin: 0.5rem 0;
                border-bottom: 0;
                text-decoration: none;
                color: $theme-color;
                position: relative;
                box-shadow: none;
                border-radius: 0.25rem;
                font-weight: 400;

                &:hover {
                  background-color: $fill-color;

                  .tab-menu-dropdown-icon{
                    background-color: #f2eff5;
                  }
                }

                i {
                  padding-right: 0.5rem;
                  color: $icon-color;
                  font-size: 1.5rem;
                }

                .tab-menu-dropdown-icon{
                  margin: 0;
                  margin-left: auto;
                  width: 1.5rem;
                  height: 1.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #fff;
                  transform: rotate(0);
                  transition: transform 0.3s linear;
                  border-radius: 0.25rem;

                  &.active{
                   transform: rotate(90deg);
                  //  transition: transform 0.3s linear;
                  }

                  i{
                    padding-right: 0;
                    font-size: 0.65rem;
                  }
                }
              }

              .tab-wrapper a{
                margin: 0;
              }

              .subtab-wrapper {
                padding: 0 0 0 1rem;
                max-height: 0;
                height: auto;
                overflow: hidden;
                transition: all 0.5s ease;
                
                &.show{
                  padding: 0;
                }
                
                &.active{
                  margin: 0.5rem 0;
                  transition: max-height 1.5s linear;
                  max-height: 60rem;
                }

                a{
                  margin: 0.25rem 0;
                }
              }
            }

            .brand {
              margin: 0.5rem 0 3.75rem;
              position: relative;

              p{
                font-size: 1rem;
                margin-top: 0.25rem;
              }

              img {
                max-width: 9.45rem;
                width: 100%;
              }

              .menu-close {
                display: none;
                position: absolute;
                width: 2.52rem;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.15rem;
                right: 0;
                height: 2.52rem;
                border-radius: 0.5rem;
                background: $base-color;
                color: $icon-color;
                border: none;
                outline: none;
              }
            }

            .menu-coll-btn {
              border: none;
              outline: none;
              cursor: pointer;
              display: flex;
              align-items: center;
              transition: 0.3s;
              padding: 0.5rem 1.2rem 0.5rem 0.5rem;
              margin: 0.5rem 0;
              border-bottom: 0;
              text-decoration: none;
              color: $theme-color;
              position: relative;
              box-shadow: none;
              border-radius: 0.25rem;
              font-weight: 400;
              width: 100%;

              &:hover {
                background-color: $fill-color;
              }

              i {
                margin-right: 0.5rem;
                color: $icon-color;
                font-size: 0.75rem;
                padding: 0.25rem;
                border-radius: 50%;
                color: $fill-color;
                background-color: $icon-color;
              }
            }
          }

          .current-tab-lists.showMenu {
            max-width: 2.52rem;

            .current-tab-lists-container {
              a {
                padding: 0.5rem;

                i {
                  padding: 0;
                }
              }
            }
          }

          .tab-content {
            width: 100%;
            height: auto;
            min-height: 63rem;
            position: relative;
            border-radius: 0.25rem;
          }
        }
      }

      .admin-panel-nav {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: flex-start;
        background: #fff;
        padding: 0.63rem;
        gap: 0.63rem;
        border-radius: 0.25rem;

        button {
          width: 2.52rem;
          height: 2.52rem;
          font-size: 1.25rem;
          border: none;
          outline: none;
        }

        .brand {
          img {
            width: 9.45rem;
          }
        }
      }
    }

    .notic-display-title {
      background-color: #bf6290;
      color: $fill-color;
      padding: 0.5rem 1rem;
      border-radius: 0.12rem;
      position: fixed;
      top: 15%;
      right: 1rem;
      z-index: 9999;

      i {
        margin-right: 0.25rem;
      }
    }
  }
}

@media only screen and (max-width: 48.321rem) {
  #moowoodle_root {
    .general-wrapper {
      .container {
        .middle-container-wrapper {
          .middle-child-container {
            .current-tab-lists {
              max-width: 100vw;
              width: 0%;
              overflow: hidden;
              position: fixed;
              height: 100vh;
              z-index: 100000;
              top: 0;
              left: 0;

              .current-tab-lists-container {
                height: 100%;
                background: white;
                padding: 2rem;
                max-width: 22.05rem;
              }

              .brand {
                margin: 0 0 1.5rem;

                .menu-close {
                  display: block;
                }
              }

              .menu-coll-btn {
                display: none;
              }
            }

            .current-tab-lists.active {
              width: 100%;
            }

            .tab-content {
              width: 100%;
            }
          }
        }

        .admin-panel-nav {
          display: flex;
        }
      }
    }
  }
}