$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;
$theme-color: #522c81;

.general-wrapper {

  .middle-container-wrapper {
    .middle-child-container {
      position: relative;
      display: flex;
      color: #121116;
      font-size: 0.875rem;
      line-height: 1.5;

      &.showMenu{
        .current-tab-lists {
          max-width: 4.158rem;

          .brand{
            margin: 0 auto;
  
            img{
              width: 3.15rem !important; // To overwrite img width for menu same size
            }
            
          }
          .menu-coll-btn{
            span{
              transform: rotate(180deg);
            }
          }
        }
      }

      .current-tab-lists {
        display: flex;
        flex-direction: column;
        max-width: 16.065rem;
        width: 100%;

        .brand{
          padding: 2.016rem 0 1.512rem;
          width: fit-content;
          margin: 0 auto;

          img.logo{
            width: 10.269rem;
          }

          .logo-small{
            display: none;
          }

          p{
            text-align: end;
          }
      }

        .current-tab-lists-container {
          position: relative;

          a,
          .menu-coll-btn {
            position: relative;
            padding: 1.008rem 0.63rem 1.134rem 1.26rem;
            border-top: 0.063rem solid #e0e4e9;
            border-left: 0.126rem solid transparent;
            overflow: hidden;
            transition: all 100ms ease-out;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #000;
            gap: 0.75rem;
            background-color: transparent;

            .menu-name{
              font-size: 0.8125rem;
              line-height: 1.4615384615;
              font-weight: 500;
              color: #121116;
              
            }

            .menu-desc{
              margin-top: 0.189rem;
              color: #72777c;
              font-size: 0.875rem;
              line-height: 1.2307692308;
              transition: all 150ms ease-out;
              -webkit-transition: all 150ms ease-out;
            }

            .drop-down-section{
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0.25rem;
              width: 100%;
            }

            &:hover{
              background: $color-white;
              border-left: 0.126rem solid $color-active !important; // To overwrite default common.scss
            }

            &:focus {
              box-shadow: none;
            }

            &:hover {
              color: $color-active;
            }

            i {
              font-size: 1.75rem;
              color: #72777c;
              font-size: 1.4375rem;
              line-height: 1;
              opacity: .3;
            }
          }

          .menu-coll-btn {
            opacity: 1;
            width: 100%;
            font-size: 0.8125rem;
            cursor: pointer;
            font-weight: 500;
              line-height: 1.4615384615;
              padding-left: 1.65rem;
            i {
              font-size: 1.25rem;
            }
          }

          .active-current-tab {
            color: $color-active;
            background: #fff;
            border-left: 0.126rem solid $color-active;

            .menu-name{
              color: $color-active;
            }

            i{
              color: $color-active;
              opacity: 1;

            }
          }

          .menu-close{
            display: none;
            position: absolute;
            width: 2.25rem;
            height: 2.25rem;
            top: 1.26rem;
            font-size: 1.15rem;
            right: 0.63rem;
            border-radius: 0.5rem;
            background-color: #f9fafb;
            color: #65438f;
            border: none;
            outline: none;
            align-items: center;
            justify-content: center;
          }

          .tab-wrapper{
            width: 100%;

            .subtab-wrapper{
              padding-left: 1rem;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              position: relative;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.3s linear  ;

              a{
                width: 100%;
                box-sizing: border-box;
              }
              
              &.active{
                max-height: 50rem;
                height: auto;
              }
            }
          }
        }
      }      

      .tab-content {
        position: relative;
        background: #fff;
        max-width: 75.6rem;
        width: 100%;
        overflow: hidden;
        
        .tab-description-start{
            padding: 1.83rem 1.83rem 0;

            .child{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 1rem;
              border-bottom: 0.063rem solid #e0e4e9;
              font-size: 0.875rem;
              line-height: 1.5714285714;
              padding: 0 0 1.83rem;

              .tab-name{
                line-height: normal;
                font-size: 1.625rem;
                line-height: 1;
                font-weight: 500;
                letter-spacing: .0.047rem;
                // padding-bottom: 1.5rem;
            }

            .tab-desc{
              margin-top: 0.5rem;
            }

            p{
              position: relative;

              &::after{
                position: absolute;
                content: "";
                bottom: -2.4rem;
                left: 0;
                background: $color-active;
                width: 100%;
                height: 0.126rem;
              }

              i{
                width: 3.024rem;
                height: 3.024rem;
                background: $menu-color;
                color: $color-active;
                border-radius: 0.189rem;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            }
        }
      }
    }
  }
}

@media screen and (max-width: 50.211rem) {
  .general-wrapper {
    .middle-container-wrapper{
      .middle-child-container {
        .current-tab-lists{
          max-width: 4.158rem;

          .brand{
            margin: 0 auto;
            img.logo{
              display: none;
            }
  
            .logo-small{
              display: block;
              width: 3.15rem;
            }

            p{
              display: none;
            }
          }

          .current-tab-lists-container{
            .menu-coll-btn{
              display: none;
            }

            .tab-wrapper{
              .subtab-wrapper{
                padding-left: 0;
              }
            }

            a{
              div{
                &:nth-child(2){
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.support-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 63.0rem;
  margin: auto;
  margin-top: 1.5rem;

  .card-item {
    padding: 1.5rem;
    flex: 1 0 12.6rem;
    height: 10.71rem;
    border: 0.005rem solid #522c817a;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow:
      0.63rem 0.63rem 1.26rem #ededed,
      -0.63rem -0.63rem 1.26rem #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      &:hover{
        background: linear-gradient(-145deg, #ffffff, #e6e6e6);
      }

      i{
        font-size: 2rem;
        color: $theme-color;
        margin-bottom: 0.75rem;
      }
      
      a{
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        text-align: center;
        display: block;
        color: $theme-color;
      }

      p{
        font-size: 0.85rem;
        text-align: center;
      }
  }
}