@import '/src/components/config.scss';

.catelog-customizer-main-wrapper {
  transition: transform 0.3s linear;
  
  &.enquiry{
    transform-origin: 60% 0;
  }
  &.enquiry_cart{
    transform-origin: 75% 0;
  }
  &.quote{
    transform-origin: 90% 0;
  }
  &.catalog{
    transform-origin: 100% 0;
  }

  &.change-tab {
    transform: scale(0);
  }
}
.catalog-customizer-wrapper {
  .settings-input-content {
    width: 100% !important; // overwrite dynamicForm.scss
  }

  .catelog-customizer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 2.25rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;

    .product-img {
      max-width: 28.125rem;
      max-height: 28.125rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product-data {
      flex: 1 0 18.75rem;

      .pro-banner {
        border: 0.063rem dashed $theme-color;
        border-radius: $border-radius-small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 1rem;
        background: #522c812e;
        flex-wrap: wrap;
      }

      .product-name {
        font-size: 2.875rem;
        font-weight: 400;
        margin: 0;
      }

      .product-price {
        font-size: 1.5rem;

        .strikethrough {
          text-decoration: underline;
          text-underline-offset: -40%; // use for underline center
          text-decoration-skip-ink: none;
          opacity: 0.5;
          font-size: 1.25rem;
        }
      }

      .drag-drop-component {
        .catalog-add-to-cart-section {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;

          .catalog-add-to-cart-quantity {
            padding: 0.5rem 1rem;
            border-radius: $border-radius-small;
            border: $border-light-medium;
          }
        }

        &>div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 1rem;

          &>div {
            width: 100%;
          }

          .additional-input {
            border: $border-light-small;
            cursor: move;
            padding: 0.5rem;

            input {
              border-radius: 0;
              padding: 0.25rem 0.5rem;
              border: none !important; // overwrite dynamicForm.scss

              &:hover,
              &:focus {
                box-shadow: 0rem 0rem 0rem 0.126rem rgb(255, 255, 255), 0rem 0rem 0rem 0.189rem rgba(33, 33, 33, 0.5);
              }
            }
          }

          .product-description {
            font-size: 1rem;
          }

          .add-to-cart-section {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: 100%;

            .add-to-cart-button {
              max-width: 9.375rem;
              width: 100%;
              height: 2.438rem;
            }
          }
        }

        .button-wrapper {
          &>div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 0.25rem;
            border: 0.058rem solid rgba($color: #000000, $alpha: 0.125);
            padding: 0.5rem;
            cursor: move;

            .btn-wrapper {
              padding: 0.5rem;
              border: 0.058rem solid rgba($color: #000000, $alpha: 0.125);
              cursor: move;
            }
          }

          .button-main-container {
            position: relative;
          }

        }

        .product-sku-category {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;

          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.single-product-page-description {
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 0.125rem solid rgba($color: #000000, $alpha: 0.125);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;

  .option {
    flex: 1 0 7.5rem;
    max-width: 12.5rem;

    ul {
      margin: 0;

      li {
        border-bottom: 0.063rem solid rgba(0, 0, 0, .05);
        padding: 1rem 1rem 1rem 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        &.active {
          color: $theme-color;
        }

        span {
          font-size: 0.875rem;
        }
      }
    }
  }

  .description {
    flex: 1 0 31.25rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 400;
      margin-bottom: 1.25rem;
    }
  }
}



.disable {
  opacity: 0.5;
}

.button-dragable {
  padding: 2rem;
  border: 0.63rem solid black;
}

div:has(.hhh) {
  z-index: 15;
}

.hhh {
  z-index: 16;
}

.dragLine {
  border-bottom: 0.125rem dashed $theme-color !important; // To overwrite default library css
}

.toggle-visibility {
  position: relative;

  .button-visibility {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
  }

  &:hover {
    .button-visibility {
      visibility: visible;
    }
  }
}

.price-section {
  width: fit-content;
  padding-right: 0.875rem;
}


@media screen and (max-width: 33.75rem) {
  .pro-banner {
    justify-content: center !important; // To overwrite desktop css

    p {
      text-align: center;
    }
  }
}