@import '/src/components/config.scss';

@font-face {
  font-family: 'AdminLibrary';
  src:  url('fonts/AdminLibrary.eot?mr0e3c');
  src:  url('fonts/AdminLibrary.eot?mr0e3c#iefix') format('embedded-opentype'),
    url('fonts/AdminLibrary.ttf?mr0e3c') format('truetype'),
    url('fonts/AdminLibrary.woff?mr0e3c') format('woff'),
    url('fonts/AdminLibrary.svg?mr0e3c#AdminLibrary') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="adminLib-"], [class*=" adminLib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AdminLibrary' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminLib-price:before {
  content: "\e900";
}
.adminLib-cart:before {
  content: "\8907";
}
.adminLib-person:before {
  content: "\e520";
}
.adminLib-user-circle:before {
  content: "\e800";
}
.adminLib-error:before {
  content: "\e802";
}
.adminLib-security:before {
  content: "\e803";
}
.adminLib-storefront:before {
  content: "\e804";
}
.adminLib-editor-list-ul:before {
  content: "\e805";
}
.adminLib-search:before {
  content: "\e806";
}
.adminLib-info:before {
  content: "\e807";
}
.adminLib-check:before {
  content: "\e809";
}
.adminLib-smile-o:before {
  content: "\e80a";
}
.adminLib-close:before {
  content: "\e810";
}
.adminLib-captcha:before {
  content: "\e820";
}
.adminLib-checkbox:before {
  content: "\e822";
}
.adminLib-divider:before {
  content: "\e828";
}
.adminLib-radio:before {
  content: "\e84e";
}
.adminLib-toggle:before {
  content: "\e869";
}
.adminLib-text:before {
  content: "\e86d";
}
.adminLib-section:before {
  content: "\e898";
}
.adminLib-book:before {
  content: "\e8f0";
}
.adminLib-plus-circle-o:before {
  content: "\e8f7";
}
.adminLib-catalog-svgrepo-com:before {
  content: "\e901";
}
.adminLib-contact-form-svgrepo-com:before {
  content: "\e902";
}
.adminLib-exclude-svgrepo-com:before {
  content: "\e903";
}
.adminLib-inquiry-filled-svgrepo-com:before {
  content: "\e904";
}
.adminLib-price-quote-icon:before {
  content: "\e905";
}
.adminLib-warehousing-icon:before {
  content: "\e906";
}
.adminLib-web-page-website-svgrepo-com:before {
  content: "\e907";
}
.adminLib-wholesale-svgrepo-com:before {
  content: "\e908";
}
.adminLib-mailchimp:before {
  content: "\e909";
}
.adminLib-mail:before {
  content: "\e90a";
}
.adminLib-file-submission:before {
  content: "\e90b";
}
.adminLib-submission-message:before {
  content: "\e90c";
}
.adminLib-settings:before {
  content: "\e90d";
}
.adminLib-cross:before {
  content: "\e90e";
}
.adminLib-icon-yes:before {
  content: "\e90f";
}
.adminLib-arrow-right:before {
  content: "\e910";
}
.adminLib-calendar:before {
  content: "\e911";
}
.adminLib-arrow-left:before {
  content: "\e912";
}
.adminLib-arrow-up:before {
  content: "\e913";
}
.adminLib-arrow-down:before {
  content: "\e914";
}
.adminLib-menu:before {
  content: "\e915";
}
.adminLib-send:before {
  content: "\e916";
}
.adminLib-link:before {
  content: "\e917";
}
.adminLib-resize:before {
  content: "\e918";
}
.adminLib-crop-free:before {
  content: "\e919";
}
.adminLib-text-fields:before {
  content: "\e91a";
}
.adminLib-support:before {
  content: "\e91b";
}
.adminLib-create:before {
  content: "\e91c";
}
.adminLib-keyboard_arrow_down:before {
  content: "\e91d";
}
.adminLib-button-appearance-tab:before {
  content: "\e91e";
}
.adminLib-enquiry-form-tab:before {
  content: "\e91f";
}
.adminLib-exclusion-tab:before {
  content: "\e920";
}
.adminLib-general-tab:before {
  content: "\e921";
}
.adminLib-live-preview-tab:before {
  content: "\e922";
}
.adminLib-upgrade-to-pro-tab:before {
  content: "\e923";
}
.adminLib-next:before {
  content: "\e924";
}
.adminLib-previous:before {
  content: "\e925";
}
.adminLib-select:before {
  content: "\e926";
}
.adminLib-success-notification:before {
  content: "\e927";
}
.adminLib-drop-down:before {
  content: "\e928";
}
.adminLib-vendor-form-delete:before {
  content: "\e929";
}
.adminLib-vendor-form-copy:before {
  content: "\e92a";
}
.adminLib-vendor-form-add:before {
  content: "\e92b";
}
.adminLib-select-question-type:before {
  content: "\e92c";
}
.adminLib-form-url:before {
  content: "\e92d";
}
.adminLib-form-textbox:before {
  content: "\e92e";
}
.adminLib-form-textarea:before {
  content: "\e92f";
}
.adminLib-form-address01:before {
  content: "\e930";
}
.adminLib-form-address02:before {
  content: "\e931";
}
.adminLib-form-attachment:before {
  content: "\e932";
}
.adminLib-form-checkboxes:before {
  content: "\e933";
}
.adminLib-paint-brush:before {
  content: "\e934";
}
.adminLib-form-city:before {
  content: "\e935";
}
.adminLib-form-country:before {
  content: "\e936";
}
.adminLib-form-dropdown:before {
  content: "\e937";
}
.adminLib-form-email:before {
  content: "\e938";
}
.adminLib-form-multi-select:before {
  content: "\e939";
}
.adminLib-form-paypal-email:before {
  content: "\e93a";
}
.adminLib-form-phone:before {
  content: "\e93b";
}
.adminLib-form-postcode:before {
  content: "\e93c";
}
.adminLib-form-radio:before {
  content: "\e93d";
}
.adminLib-form-recaptcha:before {
  content: "\e93e";
}
.adminLib-form-section:before {
  content: "\e93f";
}
.adminLib-form-state:before {
  content: "\e940";
}
.adminLib-star_icon:before {
  content: "\e941";
}
.adminLib-form-store-description:before {
  content: "\e942";
}
.adminLib-folder-open:before {
  content: "\e943";
}
.adminLib-undo:before {
  content: "\e944";
}
.adminLib-dropdown-checklist:before {
  content: "\e945";
}
.adminLib-multi-select:before {
  content: "\e946";
}
.adminLib-captcha-automatic-code-svgrepo-com:before {
  content: "\e947";
}
.adminLib-cloud-upload:before {
  content: "\e948";
}
.adminLib-help:before {
  content: "\e949";
}
.adminLib-t-letter-bold:before {
  content: "\e94e";
}
.adminLib-clock2:before {
  content: "\e94f";
}
.adminLib-alarm:before {
  content: "\e950";
}
.adminLib-unread:before {
  content: "\e9ba";
}
.adminLib-eye:before {
  content: "\e9ce";
}
.adminLib-eye-blocked:before {
  content: "\e9d1";
}
.adminLib-text_fields:before {
  content: "\e5201";
}
.adminLib-move:before {
  content: "\e5402";
}
.adminLib-delete:before {
  content: "\e5800";
}
.adminLib-more-vertical:before {
  content: "\e8051";
}
.adminLib-attachment:before {
  content: "\e8598";
}
.adminLib-dots-three-horizontal:before {
  content: "\e8eee";
}
.adminLib-credit_card:before {
  content: "\e9502";
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#admin-plugin-elements,
#admin-moowoodle,
#admin-catalog{
  padding: 1.5rem 1rem 0 0;
} 
code {
  background: transparent;
  padding: 0;
}
p{
  font-size: 0.875rem;
  margin: 0;
  }
a{
  text-decoration: none;

  &:focus{
    box-shadow: none;
    outline: none;
  }
}
button,
.main-btn{
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: $border-radius-small;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}
.btn-purple{ 
  background: $theme-color;
  width: fit-content;
  color: $color-white;

  &:hover{
    color: $color-white;
  }
}

html {
  scroll-behavior: smooth;
}

.form-group-radio-select input:checked::before {
  content: "\e809";
  color: $color-white;
  font-size: 0.813rem;
  background-color: $color-active;
  border-radius: 0.25rem;
  font-family: "AdminLibrary";
  width: 1rem;
  height: 1rem;
  margin:0;
  line-height: 1;
}

input[type="radio"]{
  border-color: $color-active;

  &::before{
    background: $color-active;
  }
} 

input[type="radio"] {
  width: fit-content !important; // To overwrite default table css only for radio input
  border-radius: 50% !important; // To overwrite default table css only for radio input
}

.admin-notice-display-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  background-color: rgba(12, 216, 12, 1);
  color: $color-white;
  max-width: 15rem;
  width: fit-content;
  padding: 0.5rem 0;
  padding: 0.5rem;
  font-weight: 400;
  position: fixed;
  top: 7.188rem;
  right: 1.512rem;
  z-index: 99999;

  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.252rem;
    background: green;
    animation: progress 2s linear;



    @keyframes progress {
      from {width: 100%;}
      to {width: 0%;}
    }
  }
}

span.admin-pro-tag{
  font-size: 0.5rem;
  background: $accent-color;
  padding: 0.125rem 0.5rem;
  color: #F9F8FB;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  margin-left: 0.25rem;
  border-radius: 2rem 0;
  right: 0.25rem;
  top: 0;
  transform: translateY(-50%);
}

@media screen and (max-width: 49.266rem) {
  input[type=checkbox], input[type=radio]{
    height: 1rem;
    width: 1rem;
  }
  input[type=checkbox]:checked::before {
    margin: -0.1875rem 0 0 -0.25rem;
    height: 1.3125rem;
    width: 1.3125rem;
}
}