@font-face {
  font-family: 'admin-font';
  src:  url('fonts/admin-font.eot?r3umvz');
  src:  url('fonts/admin-font.eot?r3umvz#iefix') format('embedded-opentype'),
    url('fonts/admin-font.ttf?r3umvz') format('truetype'),
    url('fonts/admin-font.woff?r3umvz') format('woff'),
    url('fonts/admin-font.svg?r3umvz#admin-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font-"], [class*=" font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admin-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-resize:before {
  content: "\e90e";
}
.font-arrow-down:before {
  content: "\e90a";
}
.font-arrow-up:before {
  content: "\e909";
}
.font-arrow-right:before {
  content: "\e907";
}
.font-arrow-left:before {
  content: "\e908";
}
.font-mailchimp:before {
  content: "\e900";
}
.font-support:before {
  content: "\e911";
}
.font-link:before {
  content: "\e90d";
}
.font-crop-free:before {
  content: "\e90f";
}
.font-text-fields:before {
  content: "\e910";
}
.font-send:before {
  content: "\e90c";
}
.font-menu:before {
  content: "\e90b";
}
.font-cross:before {
  content: "\e905";
}
.font-icon-yes:before {
  content: "\e906";
}
.font-mail:before {
  content: "\e901";
}
.font-file-submission:before {
  content: "\e902";
}
.font-submission-message:before {
  content: "\e903";
}
.font-settings:before {
  content: "\e904";
}



$base-color: #f2eff5;
$border-color: #d4d1d9;
$title-color: #181718;
$paragraph-color: #5e5d60;
$button-border-radius: 0.25rem;
$theme-color: #65438f;
$fill-color: #fdfdfe;
$rejected-vendor-font: #df5d65;
$approve-font-color: #522c81;
$red-btn-back: #e35047;
$code-font: #b74f82;
$small-code-back: #fbf5f8;
$blue-icon: #9f8ab9;
$border-radius: 0.25rem;
$code-line: #dfb1c7;
$font-white: #f9f8fb;
$purple-btn-hover: #795b9d;

@mixin flexprops($align) {
  display: flex;
  align-items: $align;
}

input, textarea{
  outline: none;
  border: none;
  background-color: transparent;
}

@mixin purple-btn {
  background-color: $theme-color;
  border: none;
  color: $font-white;

  &:hover {
    background-color: $purple-btn-hover;
    color: $font-white;
  }
}

@mixin button {
  transition: all 0.3s ease;
  border-radius: $button-border-radius;
  padding: 0.594rem 1rem;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

#admin-stockmanager{
  margin-top: 5px;
}


.woo-module-popup span.font-cross{
  font-size: 1.25rem;
  cursor: pointer;
}

// //tab part start here
.woo-container {
  background-color: #f2eff5;
  padding: 2rem 1.5rem;
  min-height: 54rem;
}

.woo-search-and-multistatus-wrap {
  @include flexprops(center);
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem 0;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;

  .woo-multistatus-ul {
    margin: 0;
    cursor: pointer;
    @include flexprops(center);
    flex-wrap: wrap;

    .woo-multistatus-item.status-active {
      color: $theme-color;
    }

    .woo-multistatus-item {
      margin: 0;
      font-size: 0.875rem;
      color: $paragraph-color;

      button {
        padding: 0;
      }
    }

    .woo-divider {
      width: 0.051rem;
      background-color: $paragraph-color;
      margin: 0 0.4rem;
      height: 1rem;
    }
  }
}

.woo-wrap-bulk-all-date {
  @include flexprops(center);
  gap: 0.5rem 0.5rem;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.woo-page-title {
  @include flexprops(center);
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  justify-content: space-between;

  p {
    font-size: 1.5rem;
    color: $title-color;
    margin-right: 0.7rem;
  }

  .pull-right {
    margin: 0.4rem 0 0 auto;

    .woo-btn.btn-purple {
      @include purple-btn();
      @include button();
      font-size: 0.875rem;
    }
  }
}

#adminmenu .wp-submenu{
  a {
    position: relative;
  }
  li{
    a{
      .stock-manager-pro-tag{
        right: 0.25rem;
        padding: 0.125rem 0.5rem !important; // To overright inline css for menu hover
      }
    }
  }
}


.stock-manager-popup-cross {
  text-align: right;
  cursor: pointer;
}

.woo-middle-container-wrapper {
  background-color: #fff;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.313rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.12);
}

.mvx-container {
  a {
    color: #65438f;
    line-height: 1rem;
    text-decoration: none;
  }

  code {
    background: #fbf5f8;
    color: #b74f82;
    font-style: normal;
  }

  p.mvx-settings-metabox-description-code {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background: #fdf9fb;
    color: #b74f82;
    border-radius: 0.25rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 0.25rem;
      border-radius: 0.25rem;
      background-color: #dfb1c7;
      height: 100%;
    }
  }
}

