@font-face {
  font-family: 'AdminLibrary';
  src:  url('fonts/AdminLibrary.eot?ph833n');
  src:  url('fonts/AdminLibrary.eot?ph833n#iefix') format('embedded-opentype'),
    url('fonts/AdminLibrary.ttf?ph833n') format('truetype'),
    url('fonts/AdminLibrary.woff?ph833n') format('woff'),
    url('fonts/AdminLibrary.svg?ph833n#AdminLibrary') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="adminLib-"], [class*=" adminLib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'AdminLibrary' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminLib-cart:before {
  content: "\8907";
}
.adminLib-person:before {
  content: "\e520";
}
.adminLib-tools:before {
  content: "\e700";
}
.adminLib-supervised-user-circle:before {
  content: "\e702";
}
.adminLib-vpn-key:before {
  content: "\e704";
}
.adminLib-user-circle:before {
  content: "\e800";
}
.adminLib-error:before {
  content: "\e802";
}
.adminLib-security:before {
  content: "\e803";
}
.adminLib-storefront:before {
  content: "\e804";
}
.adminLib-editor-list-ul:before {
  content: "\e805";
}
.adminLib-search:before {
  content: "\e806";
}
.adminLib-info:before {
  content: "\e807";
}
.adminLib-check:before {
  content: "\e809";
}
.adminLib-smile-o:before {
  content: "\e80a";
}
.adminLib-close:before {
  content: "\e810";
}
.adminLib-captcha:before {
  content: "\e820";
}
.adminLib-checkbox:before {
  content: "\e822";
}
.adminLib-divider:before {
  content: "\e828";
}
.adminLib-radio:before {
  content: "\e84e";
}
.adminLib-toggle:before {
  content: "\e869";
}
.adminLib-text:before {
  content: "\e86d";
}
.adminLib-section:before {
  content: "\e898";
}
.adminLib-book:before {
  content: "\e8f0";
}
.adminLib-plus-circle-o:before {
  content: "\e8f7";
}
.adminLib-centralized-connections:before {
  content: "\e900";
}
.adminLib-desktop-pc-valuation:before {
  content: "\e901";
}
.adminLib-dynamic-pricing:before {
  content: "\e902";
}
.adminLib-uniE903:before {
  content: "\e903";
}
.adminLib-social-media-content:before {
  content: "\e906";
}
.adminLib-user-network-icon:before {
  content: "\e907";
}
.adminLib-price:before {
  content: "\e908";
}
.adminLib-catalog:before {
  content: "\e909";
}
.adminLib-contact-form:before {
  content: "\e90a";
}
.adminLib-exclude:before {
  content: "\e90b";
}
.adminLib-inquiry:before {
  content: "\e90c";
}
.adminLib-price-quote-icon:before {
  content: "\e90d";
}
.adminLib-warehousing-icon:before {
  content: "\e90e";
}
.adminLib-web-page-website:before {
  content: "\e90f";
}
.adminLib-wholesale:before {
  content: "\e910";
}
.adminLib-mailchimp:before {
  content: "\e911";
}
.adminLib-mail:before {
  content: "\e912";
}
.adminLib-file-submission:before {
  content: "\e913";
}
.adminLib-submission-message:before {
  content: "\e914";
}
.adminLib-settings:before {
  content: "\e915";
}
.adminLib-cross:before {
  content: "\e916";
  cursor: pointer;
}
.adminLib-icon-yes:before {
  content: "\e917";
}
.adminLib-arrow-right:before {
  content: "\e918";
}
.adminLib-calendar:before {
  content: "\e919";
}
.adminLib-arrow-left:before {
  content: "\e91a";
}
.adminLib-arrow-up:before {
  content: "\e91b";
}
.adminLib-arrow-down:before {
  content: "\e91c";
}
.adminLib-menu:before {
  content: "\e91d";
}
.adminLib-send:before {
  content: "\e91e";
}
.adminLib-link:before {
  content: "\e91f";
}
.adminLib-resize:before {
  content: "\e920";
}
.adminLib-crop-free:before {
  content: "\e921";
}
.adminLib-text-fields:before {
  content: "\e922";
}
.adminLib-support:before {
  content: "\e923";
}
.adminLib-create:before {
  content: "\e924";
}
.adminLib-keyboard-arrow-down:before {
  content: "\e925";
}
.adminLib-button-appearance:before {
  content: "\e926";
}
.adminLib-enquiry-form-tab:before {
  content: "\e927";
}
.adminLib-exclusion-tab:before {
  content: "\e928";
}
.adminLib-general-tab:before {
  content: "\e929";
}
.adminLib-live-preview-tab:before {
  content: "\e92a";
}
.adminLib-pro-tab:before {
  content: "\e92b";
}
.adminLib-next:before {
  content: "\e92c";
}
.adminLib-previous:before {
  content: "\e92d";
}
.adminLib-select:before {
  content: "\e92e";
}
.adminLib-success-notification:before {
  content: "\e92f";
}
.adminLib-drop-down:before {
  content: "\e930";
}
.adminLib-vendor-form-delete:before {
  content: "\e931";
}
.adminLib-vendor-form-copy:before {
  content: "\e932";
}
.adminLib-vendor-form-add:before {
  content: "\e933";
}
.adminLib-select-question-type:before {
  content: "\e934";
}
.adminLib-form-url:before {
  content: "\e935";
}
.adminLib-form-textbox:before {
  content: "\e936";
}
.adminLib-form-textarea:before {
  content: "\e937";
}
.adminLib-form-address01:before {
  content: "\e938";
}
.adminLib-form-address02:before {
  content: "\e939";
}
.adminLib-form-attachment:before {
  content: "\e93a";
}
.adminLib-form-checkboxes:before {
  content: "\e93b";
}
.adminLib-paint-brush:before {
  content: "\e93c";
}
.adminLib-form-city:before {
  content: "\e93d";
}
.adminLib-form-country:before {
  content: "\e93e";
}
.adminLib-form-dropdown:before {
  content: "\e93f";
}
.adminLib-form-email:before {
  content: "\e940";
}
.adminLib-form-multi-select:before {
  content: "\e941";
}
.adminLib-form-paypal-email:before {
  content: "\e942";
}
.adminLib-form-phone:before {
  content: "\e943";
}
.adminLib-form-postcode:before {
  content: "\e944";
}
.adminLib-form-radio:before {
  content: "\e945";
}
.adminLib-form-recaptcha:before {
  content: "\e946";
}
.adminLib-form-section:before {
  content: "\e947";
}
.adminLib-form-state:before {
  content: "\e948";
}
.adminLib-star_icon:before {
  content: "\e949";
}
.adminLib-form-store-description:before {
  content: "\e94a";
}
.adminLib-folder-open:before {
  content: "\e94b";
}
.adminLib-undo:before {
  content: "\e94c";
}
.adminLib-dropdown-checklist:before {
  content: "\e94d";
}
.adminLib-multi-select:before {
  content: "\e94e";
}
.adminLib-captcha-automatic-code:before {
  content: "\e94f";
}
.adminLib-cloud-upload:before {
  content: "\e950";
}
.adminLib-help:before {
  content: "\e951";
}
.adminLib-t-letter-bold:before {
  content: "\e952";
}
.adminLib-clock2:before {
  content: "\e953";
}
.adminLib-alarm:before {
  content: "\e954";
}
.adminLib-thumbs-ok:before {
  content: "\e955";
}
.adminLib-preview:before {
  content: "\e956";
}
.adminLib-paid:before {
  content: "\e957";
}
.adminLib-order:before {
  content: "\e958";
}
.adminLib-multiple-inputs:before {
  content: "\e959";
}
.adminLib-global-community:before {
  content: "\e95a";
}
.adminLib-experiment-results:before {
  content: "\e95b";
}
.adminLib-copy:before {
  content: "\e95c";
}
.adminLib-cogs-on-wheels:before {
  content: "\e95d";
}
.adminLib-blocks:before {
  content: "\e95e";
}
.adminLib-analytics:before {
  content: "\e95f";
}
.adminLib-unread:before {
  content: "\e9ba";
}
.adminLib-eye:before {
  content: "\e9ce";
}
.adminLib-eye-blocked:before {
  content: "\e9d1";
}
.adminLib-text_fields:before {
  content: "\e5201";
}
.adminLib-move:before {
  content: "\e5402";
}
.adminLib-delete:before {
  content: "\e5800";
}
.adminLib-more-vertical:before {
  content: "\e8051";
}
.adminLib-attachment:before {
  content: "\e8598";
}
.adminLib-dots-three-horizontal:before {
  content: "\e8eee";
}
.adminLib-credit-card:before {
  content: "\e9502";
}
.adminLib-setting:before {
  content: "\e960";
}
.adminLib-star:before {
  content: "\e961";
}
.adminLib-star-fill:before {
  content: "\e962";
}
.adminLib-pin:before {
  content: "\e963";
}
