$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.course-container-wrapper {
  .admin-page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    position: relative;
    gap: 0.5rem;
    flex-wrap: wrap;

    p {
      font-size: 1.5rem;
    }
  }

  .moowoodle-course-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    button {
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.025);
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        background-color: $color-active;
      }

      &:last-child {
        background-color: rgba($color: $color-active, $alpha: 0.6);
        color: $color-white;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .rdt_Table {
    a {
      color: rgba($color: #000000, $alpha: 0.87);
    }

    .rdt_TableHead {
      .rdt_TableHeadRow {
        .rdt_TableCol {
          &:nth-child(2) {
            min-width: 12rem !important; // To overwrite default table css
          }
          &:nth-child(6) {
            min-width: 17rem !important; // To overwrite default table css
          }
        }
      }
    }

    .rdt_TableRow {
      .rdt_TableCell {
        &:nth-child(2) {
          min-width: 12rem !important; // To overwrite default table css
        }
        &:nth-child(6) {
          min-width: 17rem !important; // To overwrite default table css
        }
      }
    }
  }

  .rdt_TableCol {
    .rdt_TableCol_Sortable {
      & > span {
        font-size: 0.75rem;
        padding: 3px;
      }
    }
  }

  .rdt_Pagination {
    .sc-lnsjTu.epZUJV {
      & > svg {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 85.365rem) {
  .rdt_Table {
    .rdt_TableBody {
      .rdt_TableRow {
        .rdt_TableCell {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            height: 4.25rem !important;
          }
        }
      }
    }
  }
}

.filter-wrapper {
  .wrap-bulk-all-date {
    max-width: 100% !important;
    gap: 0.75rem;

    & > div {
      max-width: 150px;

      select {
        min-height: 40px;
      }
    }

    .searchCourseField {
      max-width: 200px;
    }

    .course-bulk-action {
      max-width: 200px;
      flex-wrap: nowrap !important;
      position: relative;
    }

    .shortnameField {
      margin-left: auto;
    }
  }
}

@media only screen and (max-width: 665px) {
  .filter-wrapper {
    .wrap-bulk-all-date {
      .shortnameField {
        margin: 0;
      }
      .course-bulk-action {
        min-width: 200px;
      }

      .course-bulk-action,
      & > div,
      .searchCourseField {
        max-width: 100%;
      }
    }
  }
}


.table-action-column {
  position: relative;

  .admin-pro-tag {
    right: unset;
  }
}
.table-row-custom {
  .column-name {
    position: relative;
  }
}
