@font-face {
  font-family: 'admin-font';
  src: url('./fonts/admin-font.eot?ovt9cm');
  src: url('./fonts/admin-font.eot?ovt9cm#iefix') format('embedded-opentype'),
    url('./fonts/admin-font.ttf?ovt9cm') format('truetype'),
    url('./fonts/admin-font.woff?ovt9cm') format('woff'),
    url('./fonts/admin-font.svg?ovt9cm#admin-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font-"],
[class*=" font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admin-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-tools:before {
  content: "\e700";
}

.font-options:before {
  content: "\e700";
}

.font-repair:before {
  content: "\e700";
}

.font-menu_book:before {
  content: "\e701";
}

.font-supervised_user_circle:before {
  content: "\e702";
}

.font-credit_card:before {
  content: "\e753";
}

.font-payment:before {
  content: "\e753";
}

.font-vpn_key:before {
  content: "\e704";
}

.font-_store:before {
  content: "\e7085";
}

.font-shopping_cart:before {
  content: "\e7085";
}


$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.course-container-wrapper {
  .admin-page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    position: relative;
    gap: 0.5rem;
    flex-wrap: wrap;

    p {
      font-size: 1.5rem;
    }
  }

  .moowoodle-course-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    button {
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.025);
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        background-color: $color-active;
      }

      &:last-child {
        background-color: rgba($color: $color-active, $alpha: 0.6);
        color: $color-white;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .rdt_Table {
    a {
      color: rgba($color: #000000, $alpha: 0.87);
    }

    .rdt_TableHead {
      .rdt_TableHeadRow {
        .rdt_TableCol {
          &:nth-child(2) {
            min-width: 14rem !important; // To overwrite default table css
          }

          &:nth-child(5) {
            min-width: 15rem !important; // To overwrite default table css
          }

          &:nth-child(6) {
            min-width: 12rem !important; // To overwrite default table css
          }
        }
      }
    }

    .rdt_TableRow {
      .rdt_TableCell {
        &:nth-child(2) {
          min-width: 14rem !important; // To overwrite default table css
        }

        &:nth-child(5) {
          min-width: 15rem !important; // To overwrite default table css
        }

        &:nth-child(6) {
          min-width: 12rem !important; // To overwrite default table css
        }
      }
    }
  }

  .rdt_TableCol {
    .rdt_TableCol_Sortable {
      &>span {
        font-size: 0.75rem;
        padding: 0.189rem;
      }
    }
  }

  .rdt_Pagination {
    .sc-lnsjTu.epZUJV {
      &>svg {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 85.365rem) {
  .rdt_Table {
    .rdt_TableBody {
      .rdt_TableRow {
        .rdt_TableCell {

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            height: 4.25rem !important;
          }
        }
      }
    }
  }
}

.filter-wrapper {
  .wrap-bulk-all-date {
    max-width: 100% !important;
    gap: 0.75rem;

    &>div {
      max-width: 9.45rem;
    }

    .searchCourseField {
      max-width: 12.6rem;
      margin-left: auto;
    }

    .course-bulk-action {
      max-width: 12.6rem;
      flex-wrap: nowrap !important;
      position: relative;
    }
  }
}

@media only screen and (max-width: 41.895rem) {
  .filter-wrapper {
    .wrap-bulk-all-date {
      .shortnameField {
        margin: 0;
      }

      .course-bulk-action {
        min-width: 12.6rem;
      }

      .course-bulk-action,
      &>div,
      .searchCourseField {
        max-width: 100%;
      }
    }
  }
}

.table-action-column {
  position: relative;

  .admin-pro-tag {
    right: unset;
  }
}

.table-row-custom {
  .column-name {
    position: relative;
  }
}