#dualcube-admin-footer {
  bottom: 45px;
  text-align: center;
}

#dualcube-admin-footer a {
  text-decoration: none; 
}

#dualcube-admin-footer img {
  border: none; 
  margin-right: 5px;
  vertical-align: bottom;
}

.required {
  color: red; 
}

.image-adv {
  border:1px solid #ddd;display:inline-block;
}
.supt-link {
  text-align: center;margin-bottom:0;
}
/*** From table ***/
.form-table .course_posttype {
  display: none;
}

.moowoodle-space {
  margin: 10px 20px 0 2px;
}
.nav-tab-wrapper {
  padding-left:20px;
}
.moowoodle-upgrade {
  background-color: #04be5b;color: #fff
}

.moodle-linked-courses td:first-child {
  text-align: left;
}
.moodle-linked-courses th:first-child {
  text-align: left;
}   
.moodle-linked-courses>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px ridge #d3dbe2;
  text-align: center;
  padding: 8px 10px;
}

th.course_posttype {
   width: auto;
}