@import '/src/components/config.scss';

.setting-form-input{
    .shortcode-table{
        width: 100%;
        border: $border-light-small;
        padding: 1rem;
        border-radius: $border-radius-small;

        thead{
            tr{
                padding: 0.5rem;
                th{
                    text-align: left;
                    font-weight: 500;
                    min-width: 11.25rem;
                    font-size: 0.875rem;
                    padding: 1rem;
                }
            }
        }

        tbody{
            tr{
                td{
                    padding: 1rem;
                }
                &:nth-child(odd){
                    background: #f8f9fa;
                }
            }            
        }
    }
}