$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

.setting-form-input{
    .shortcode-table{
        width: 100%;

        thead{
            tr{
                th{
                    text-align: left;
                    font-weight: 500;
                    min-width: 180px;
                }
            }
        }

        tbody{
            tr{
                td{
                    padding: 1rem 0;
                }
            }
        }
    }
}