.custom-sync-section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
    flex-wrap: wrap;

    .sync-direction-items{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.75rem;

        .input-section{
            input{
                width: 1.1rem !important;
                height: 1rem !important;
                margin: 0 !important;
            }
        }

        .sync-meta-wrapper{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.5rem;
            flex-direction: column;

            .img-section{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.75rem;

                img{
                    width: 30px;
                }
                .connection-arrow{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        font-size: 1rem;
                    }
                }
            }

            .sync-label{

            }
        }
    }
}