$font-color: #333;
$background-color: #fff;
$primary-color: #65438f;
$background-secondary-color: #ccc;
$even-row-color: rgb(245, 245, 245);
$head-row-background: #e7e7e7;
$border-color: rgba(0, 0, 0, 0.2);
$shine-background: linear-gradient(
  90deg,
  #f4f4f4 0rem,
  rgba(229, 229, 229, 0.8) 2.52rem,
  #f4f4f4 5.04rem
);

$padding-small: 0.4rem;
$padding-medium: 1rem;

$line-height-small: 1.008rem;
$line-height-medium: 2.25rem;

$border-width-small: 0.063rem;
$border-width-medium: 0rem;

$border-radius-small: 0.25rem;
$border-radius-medium: 0.441rem;
$border-radius-large: 0.5rem;

$animation-duration: 2s;

.admin-table-wrapper {
  .table-container {
    width: 100%;

    nav div.lcunyj svg {
      display: none;
    }

    .admin-table-wrapper-filter {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0.75rem;
      gap: 0.75rem;

      div.type-count-active {
        color: $primary-color;
      }
    }

    * {
      font-size: 1rem;
    }

    .tg {
      border-collapse: collapse;
      border-spacing: 0;
      border-color: $border-color;
      width: 100%;

      .rdt_TableCell {
        padding: $padding-small;
        border-style: solid;
        border-width: $border-width-medium;
        overflow: hidden;
        word-break: normal;
        border-color: $border-color;
        color: $font-color;
        background-color: $background-color;

        &:first-child {
          display: block;
        }
      }

      tr:first-child .rdt_TableCell {
        font-weight: normal;
        padding: $padding-small;
        border-style: solid;
        border-width: $border-width-medium;
        overflow: hidden;
        word-break: normal;
        border-color: $border-color;
        color: $font-color;
        background-color: $head-row-background;
      }
    }

    .line {
      float: left;
      max-width: $line-height-small;
      width: 100%;
      height: $line-height-small;
      margin-top: $padding-small;
      border-radius: $border-radius-medium;
      background-image: $shine-background;
      background-size: 37.8rem;
      animation: shine-lines $animation-duration infinite ease-out;
    }

    @keyframes shine-lines {
      0% {
        background-position: -$line-height-small;
      }
      40%,
      100% {
        background-position: 8.82rem;
      }
    }

    .rdt_TableHead {
      border-radius: $border-radius-small;
    }

    /* Loading table animation end here */

    .rdt_Table .rdt_TableHeadRow {
      border: $border-width-small solid $border-color;
      border-bottom: none;
      background: $head-row-background;
      border-top-right-radius: $border-radius-large;
      border-top-left-radius: $border-radius-large;

      .rdt_TableCol:last-child {
        display: none;
      }
    }

    .rdt_TableBody .rdt_TableRow {
      border-left: $border-width-small solid $border-color;
      border-right: $border-width-small solid $border-color;
      position: relative;

      .rdt_TableBody .rdt_TableRow:nth-child(even) {
        background: $even-row-color;
      }

      .rdt_TableCell:last-child {
        max-width: 2.52rem;
        min-width: 2.52rem;
        top: $padding-small;
        right: $padding-medium;
        padding: 0;
        width: 100%;
        flex-grow: unset;
        position: absolute;
        display: none;
      }

      .rdt_TableCell .table-row-custom {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        overflow: hidden;
        height: 100%;

        h4 {
          display: none;
          margin: 0;
          max-width: 9.45rem;
          width: 100%;
        }

        p {
          margin: 0;
        }
      }

      .table-dropdown_btn {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          cursor: pointer;
          width: 100%;
          outline: none;
          border: none;
          padding: 0.25rem 0.1rem;
          border-radius: $border-radius-small;
          background: transparent;

          i{
            font-size: 0.75rem;
          }
        }
      }
    }

    @media only screen and (max-width: 79.002rem) {
      .rdt_TableHeadRow {
        padding: $padding-small;
      }

      .rdt_TableHeadRow .rdt_TableCol {
        min-width: 3.15rem;
        width: 100%;
        display: none;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }

      .rdt_TableBody .rdt_TableRow {
        padding: $padding-small;
        display: block;
        max-height: 3rem;
        transition: max-height 0.3s linear;
        overflow: hidden;

        .rdt_TableCell {
          width: 100%;
          display: inline-block;
          min-width: 3.15rem;
          background-color: $background-secondary-color;
          height: $line-height-medium;

          &:first-child,
          &:nth-child(2),
          &:nth-child(3) {
            width: 33%;
            background: transparent !important;
            margin-bottom: 0.5rem;

            .table-row-custom h4 {
              display: none;
            }
          }
          &:nth-child(3) {
            max-width: 9.45rem;
            width: 100%;
          }

          &:last-child {
            display: flex;
            background-color: rgb(229, 229, 229);
          }

          .table-row-custom h4 {
            display: block;
            font-weight: 500;
          }
        }
      }

      .rdt_TableBody .rdt_TableRow.active {
        max-height: 35.875rem;
      }

      .selectable-table {
        .rdt_TableRow .rdt_TableCell:first-child {
          min-width: 1.89rem;
          max-width: 3.15rem;
          width: auto !important;
        }

        .rdt_TableHeadRow .rdt_TableCol:first-child {
          min-width: 1.89rem;
          max-width: 0.15rem;
          width: auto !important;
        }
      }
    }

    @media only screen and (max-width: 37.8rem) {
      .rdt_TableBody .rdt_TableRow {
        .rdt_TableCell {
          &:nth-child(3) {
            max-width: 6.3rem;
            width: 100%;
          }
        }
      }
    }
    @media only screen and (max-width: 27.72rem) {
      .rdt_TableBody .rdt_TableRow {
        .rdt_TableCell {
          &:nth-child(3) {
            max-width: 3.15rem;
            width: 100%;
          }
        }
      }
    }
    @media only screen and (max-width: 23.31rem) {
      .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-row-custom * {
        font-size: 0.85rem !important;
      }
    }
  }
}
